.table-container {
  width: 100%;
  margin: 0 auto; /* Center the table */
}

.airports-table {
  width: 100%;
  border-collapse: collapse;
}

.airports-table th,
.airports-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.airports-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.action-icon {
  padding-left: 15px;
  padding-right: 5px;
}

/* .airports-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.airports-table tr:hover {
  background-color: #ddd;
} */
